:root{
    --hue: 175;
    --cor-base: hsl(var(--hue), 65%, 40%);
    --cor-borda: hsl(var(--hue), 65%, 90%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    margin: auto;
}
figure.app__logo-imagem{
    width: 50%;
}
.app{
    margin: auto;
    max-width: 50%;
    min-width: 550px;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--cor-base);
    border-style: inset;
    border-radius: 2.5rem;
    border-width: 0.25rem;
    border-color: var(--cor-borda);
}
.app__form{
    margin: auto;
}
.app__form_label{
    padding-top: 1rem;
    display: block;
}